<mat-sidenav-container class="example-container">  
  <mat-sidenav mode="side" opened fixedInViewport="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/system-msgs">System Messages</a>
      <a mat-list-item routerLink="/chats">Chats</a>
      <a mat-list-item routerLink="/personal-msgs">Personal messages</a>
  
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="nav-bar">
      <ng-container *ngIf="chatSrc.username != null">
        Hello {{chatSrc.username}} &nbsp;        
        <button mat-icon-button  (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="chatSrc.username == null">
        <div>Please login</div>
        <div>
          <button mat-icon-button (click)="gotoLogin()" >
            <mat-icon>login</mat-icon>
          </button>
        </div>
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
