<mat-card>
    <mat-card-title>System messages</mat-card-title>
    <mat-card-content>
        <div *ngFor="let msg of chatSrc.systemMsgs">
            {{msg}}
        </div>      
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!isAdmin()" mat-button (click)="callSupport()">CALL SUPPORT</button>
        <ng-container *ngIf="isAdmin()">
            <mat-form-field appearance="outline">
                <input matInput placeholder="message text" #text type="text">
            </mat-form-field>
            <button mat-raised-button (click)="sendSystemMessage(text.value)">
                <mat-icon>send</mat-icon>
            </button>
        </ng-container>
  
    </mat-card-actions>
</mat-card>